<%- include('partials/header') -%>

<div class="jumbotron spaced">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead"><%= bigText %></p>
    <hr class="my-4">
    <p><%= smallText %></p>
</div>


<%- include('partials/footer') -%>