<%- include("header") -%>

    <div class="text-center mt-5 search-form" data-aos="fade-left">
        <h1 class="pt-5 pb-2">Search Tweets</h1>
        <p>Select Your State</p>
        <form class=" text-center" action="/<%=rq%>" method="post">
            <br>
            <select class="form-control text-center mt-2 mb-2 search-rq-form color-darkblue" name="state" id="">
                <%states.forEach(function(state){%>
                    <option value= "<%=state%>"><%=state%></option>
                <%})%>
            </select>
            <button class="btn btn-outline-dark btn-search color-darkblue" type="submit">Search Covid Data</button>
        </form>
    </div>
    <%- include("footer") -%>